{% extends 'booking/base.html' %}
{% load static %}
{% block content %}
<div class="about-container">
    <div class="about-item">
        <img src="{% static 'images/missionpic.webp' %}" alt="Section 1 Image" class="about-image">
        <div class="about-text">
            <h2>Our Mission</h2>
            <p>At Trip-Easy, we aim to provide memorable travel experiences by offering carefully curated itineraries that cater to a variety of interests, guiding you through enchanting landscapes, vibrant cultures, and historical wonders. Our dedicated team works tirelessly to simplify the planning process, ensuring every detail is thoughtfully arranged, allowing you to immerse yourself fully, embrace each moment, and create cherished memories that last a lifetime.</p>
        </div>
    </div>

    <div class="about-item">
        <img src="{% static 'images/chill.webp' %}" alt="Section 2 Image" class="about-image">
        <div class="about-text">
            <h2>Our Vision</h2>
            <p>We strive to simplify holiday planning so you can focus on enjoying the journey without the hassle of endless research and booking. By streamlining every detail, from accommodations and activities to transportation and cultural insights, we empower you to embrace new experiences with ease. Our mission is to free you from stress, guiding you toward unforgettable adventures that unfold effortlessly.</p>
        </div>
    </div>

    <div class="about-item">
        <img src="{% static 'images/culture.webp' %}" alt="Section 3 Image" class="about-image">
        <div class="about-text">
            <h2>Our Values</h2>
            <p>We believe in transparency, cultural immersion, and sustainable travel practices that benefit both travelers and local communities. We carefully select partners who share our ethos, ensuring each itinerary fosters genuine connections, preserves local heritage, and respects the environment. By empowering respectful interactions and encouraging thoughtful stewardship, we create opportunities for travelers to embrace authenticity and leave a positive, lasting legacy.</p>
        </div>
    </div>
</div>
{% endblock %}

