{% load static %}

<div class="itineraries">
    {% for itinerary in itineraries %}
    <div class="card">
        {% if itinerary.image %}
            <img src="{{ itinerary.image.url }}" alt="{{ itinerary.name }}" class="card-image">
        {% else %}
            <img src="{% static 'images/default-placeholder.webp' %}" alt="Default Image" class="card-image">
        {% endif %}

        
        <div class="card-content">
            <h3>{{ itinerary.name }}</h3>
            <p><strong>Duration:</strong> {{ itinerary.start_date }} to {{ itinerary.end_date }}</p>
            <p><strong>Price:</strong> £{{ itinerary.price|floatformat:"0" }}pp</p>
        </div>
        
        <a href="{% url 'itinerary_detail' itinerary.pk %}" class="btn">View Details</a>
    </div>
    {% endfor %}
</div>

